
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="boxed_wrapper ltr">


    <!--Page Title-->
    <section class="page-title" style="background-image: url(/Carneshop/assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title-box">
                    <h1>İletişim</h1>
                </div>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li>İletişim</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    <!-- google-map-section -->
    <section class="google-map-section">
        <div class="map-column">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3016.182383271112!2d29.2678498!3d40.889814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cadbdb3db68fd9%3A0xaeedf5e83919f381!2sBy%20Farket%20Fabrika%20Et%20Sat%C4%B1%C5%9F!5e0!3m2!1str!2str!4v1753262149476!5m2!1str!2str" width="2560" height="558" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
    <!-- google-map-section end -->
    <!-- contact-info-section -->
    <section class="contact-info-section centred">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                        <div class="single-info">
                            <div class="inner-box">
                                <div class="big-icon"><i class="flaticon-telephone"></i></div>
                                <div class="icon-box"><i class="flaticon-telephone"></i></div>
                                <h3>Telefon Numarası</h3>
                                <p><a href="tel:+902122729738">+90 212 272 97 38</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                        <div class="single-info">
                            <div class="inner-box">
                                <div class="big-icon"><i class="flaticon-mail"></i></div>
                                <div class="icon-box"><i class="flaticon-mail"></i></div>
                                <h3>E-posta Adresi</h3>
                                <p><a href="mailto:sirket@email.com">sirket@email.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                        <div class="single-info">
                            <div class="inner-box">
                                <div class="big-icon"><i class="flaticon-maps-and-flags"></i></div>
                                <div class="icon-box"><i class="flaticon-maps-and-flags"></i></div>
                                <h3>Ofis Adresi</h3>
                                <p>Esenler, Kerkük Caddesi Gözde Apartmanı No: 11/3, 34890 Pendik/İstanbul</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact-info-section end -->
    <!-- contact-section -->
    <section class="contact-section centred">
        <div class="auto-container">
            <div class="sec-title">
                <span>İletişim</span>
                <h2>Bizimle İletişime Geçin</h2>
            </div>
            <div class="form-inner">
                <form method="post" action="assets/inc/sendemail.php" id="contact-form" class="default-form">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <i class="far fa-user"></i>
                                <input type="text" name="username" placeholder="Adınız" required="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <i class="far fa-envelope"></i>
                                <input type="email" name="email" placeholder="E-posta" required="">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <i class="fas fa-phone-volume"></i>
                                <input type="text" name="phone" required="" placeholder="Telefon">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <i class="far fa-file-alt"></i>
                                <input type="text" name="subject" required="" placeholder="Konu">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <i class="far fa-comment-alt"></i>
                                <textarea name="message" placeholder="Mesajınız"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn centred">
                            <button class="theme-btn" type="submit" name="submit-form">
                                MESAJ GÖNDER
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- contact-section end -->
    <!-- clients-section -->
    <section class="clients-section">
        <div class="auto-container">
            <div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <figure class="logo-image"><a href="index.html"><img src="assets/images/clients/clients-logo-1.png" alt=""></a></figure>
                <figure class="logo-image"><a href="index.html"><img src="assets/images/clients/clients-logo-2.png" alt=""></a></figure>
                <figure class="logo-image"><a href="index.html"><img src="assets/images/clients/clients-logo-3.png" alt=""></a></figure>
                <figure class="logo-image"><a href="index.html"><img src="assets/images/clients/clients-logo-4.png" alt=""></a></figure>
                <figure class="logo-image"><a href="index.html"><img src="assets/images/clients/clients-logo-5.png" alt=""></a></figure>
            </div>
        </div>
    </section>
</div>