
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}


<!--Sayfa Başlığı-->
<section class="page-title" style="background-image: url(/Carneshop/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h1>Sertifikalarımız</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html">Anasayfa</a></li>
                <li>Sertifikalar</li>
            </ul>
        </div>
    </div>
</section>
<!--Sayfa Başlığı Bitiş-->
<!-- sertifika-sayfası-bölümü -->
<section class="team-page-section">
    <div class="auto-container">
        <div class="row clearfix">
             <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/İŞLETME ONAY BELGESİ 1-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/BY FARK ET KAPSAM GENİŞLETME HAKKI VERİLEN İŞLETME İZNİ.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/BY FARK ET KAPSAM GENİŞLETME HAKKI VERİLEN İŞLETME İZNİ.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/BY FARK ET KAPSAM GENİŞLETME HAKKI VERİLEN İŞLETME İZNİ.pdf" target="_blank">Kapsam Genişletme İşletme İzni</a></h3>
                            <p>İşletme İzni</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/KARKAS HACCP PLANI-4.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/KARKAS HACCP PLANI.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/KARKAS HACCP PLANI.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/KARKAS HACCP PLANI.pdf" target="_blank">Karkas HACCP Planı</a></h3>
                            <p>HACCP Planı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/KAPASİTE RAPORU-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/KAPASİTE RAPORU.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/KAPASİTE RAPORU.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/KAPASİTE RAPORU.pdf" target="_blank">Kapasite Raporu</a></h3>
                            <p>Kapasite Belgesi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/İŞLETME ONAY BELGESİ 2-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/İŞLETME ONAY BELGESİ 2.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/İŞLETME ONAY BELGESİ 2.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/İŞLETME ONAY BELGESİ 2.pdf" target="_blank">İşletme Onay Belgesi 2</a></h3>
                            <p>İşletme Belgesi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/İŞLETME ONAY BELGESİ 3-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/İŞLETME ONAY BELGESİ 3.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/İŞLETME ONAY BELGESİ 3.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/İŞLETME ONAY BELGESİ 3.pdf" target="_blank">İşletme Onay Belgesi 3</a></h3>
                            <p>İşletme Belgesi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/İŞLETME ONAY BELGESİ 1-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/İŞLETME ONAY BELGESİ 1.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/İŞLETME ONAY BELGESİ 1.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="assets/pdf/certificate-7.pdf" target="_blank">İşletme Onay Bekgesi 1</a></h3>
                            <p>İşletme Ruhsatı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/ISO22000-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/ISO22000.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/ISO22000.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/ISO22000.pdf" target="_blank">ISO 22000</a></h3>
                            <p>İhracat Sertifikası</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/GIDA GÜVENLİĞİ EL KİTABI-01.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/GIDA GÜVENLİĞİ EL KİTABI.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/GIDA GÜVENLİĞİ EL KİTABI.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/GIDA GÜVENLİĞİ EL KİTABI.pdf" target="_blank">Gıda Güvenliği</a></h3>
                            <p>El Kitabı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/BY FARKET HELAL SERTİFİKASI-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/BY FARKET HELAL SERTİFİKASI.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/BY FARKET HELAL SERTİFİKASI.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/BY FARKET HELAL SERTİFİKASI.pdf" target="_blank">Helal Sertifikası</a></h3>
                            <p>Helal Sertifikası</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 team-block">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/sertifika/By Farket Vergi Levhası-1.png" alt="">
                            <ul class="social-links clearfix">
                                <li><a href="~/By Farket Vergi Levhası.pdf" target="_blank"><i class="fas fa-eye"></i></a></li>
                                <li><a href="~/By Farket Vergi Levhası.pdf" download><i class="fas fa-download"></i></a></li>
                            </ul>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="~/By Farket Vergi Levhası.pdf" target="_blank">Vergi Levhası</a></h3>
                            <p>Vergi Belgesi</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- sertifika-sayfası-bölümü bitiş -->