@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<!-- ana-slider -->
<section class="main-slider">
    <div class="main-slider-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/foto/karkasslider.png)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Taze, Güvenli Kaliteli Etler</h1>
                    <p>Sizin için, çiftçiler için ve hepimizin paylaştığı gezegen için.</p>
                    <div class="btn-box">
                        <a href="index.html" class="theme-btn">Daha Fazla Bilgi<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/foto/etentegre.png)"></div>
            <div class="auto-container">
                <div class="content-box centred">
                    <h1>Taze, Güvenli Kaliteli Etler</h1>
                    <p>Sizin için, çiftçiler için ve hepimizin paylaştığı gezegen için.</p>
                    <div class="btn-box">
                        <a href="index.html" class="theme-btn">Daha Fazla Bilgi<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item">
            <div class="image-layer" style="background-image:url(/Carneshop/assets/images/banner/banner-3.jpg)"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Taze, Güvenli Kaliteli Etler</h1>
                    <p>Sizin için, çiftçiler için ve hepimizin paylaştığı gezegen için.</p>
                    <div class="btn-box">
                        <a href="index.html" class="theme-btn">Daha Fazla Bilgi<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ana-slider sonu -->
<!-- hakkımızda-bölümü -->
<section class="about-section">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 video-column">
                    <div id="video_block_1">
                        <div class="video-inner" style="background-image: url(/Carneshop/assets/images/resource/about-1.jpg);">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_1">
                        <div class="content-box">
                            <div class="sec-title">
                                <span>Hakkımızda</span>
                                <h2>En İyi Eti Sağlıyoruz</h2>
                            </div>
                            <div class="text">
                                <p>Farket olarak, kalite ve güvenilirlik bizim ilk önceliğimizdir. Ürünlerimiz, en üst kalite standartlarına uygun olarak seçilir ve müşterilerinize sunulur. Sadece bir kasap değil aynı zamanda toptan et satışı yapan bir firmayız. Sizlere en iyi hizmeti sunmak ve et ihtiyaçlarınızı kaliteli ve uygun bir şekilde karşılamak için buradayız.</p>
                            </div>
                            <ul class="list clearfix">
                                <li>%100 Organik Et</li>
                                <li>Güvenli Ödeme</li>
                            </ul>
                            <div class="btn-box">
                                <a href="/hakkimizda/index/hakkimizda/index" class="theme-btn">Daha Fazla Gör<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hakkımızda-bölümü sonu -->
<!-- müşteriler-bölümü sonu -->
<!-- hizmet-bölümü -->
<section class="service-section bg-color-1">
    <div class="icon-layer" style="background-image: url(/Carneshop/assets/images/icons/bg-icon-1.png);"></div>
    <div class="auto-container">
        <div class="sec-title text-center">
            <span>Neler Yapıyoruz</span>
            <h2>Sizin İçin Hizmetler</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-meat-4"></i></div>
                        <h3><a href="index.html">%100 Helal Kesim</a></h3>
                        <p>Dini kurallar çerçevesinde kesilen, helal sertifikasına sahip et ürünleri sunuyoruz. <br /><br /><br /></p>
                      
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-hang"></i></div>
                        <h3><a href="index.html">Taze ve Kaliteli</a></h3>
                        <p>Her hafta ürünlerimizi büyük bir titizlik ile firmamıza getiriyoruz. Bu sayede müşterilerimiz her zaman taze et ürünlerine kolaylıkla ulaşabiliyor.</p>
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-meat-5"></i></div>
                        <h3><a href="index.html">Toptan Satış Avantajı</a></h3>
                        <p>1 kilo veya 1 ton, ne olursa olsun, et ihtiyaçlarınız için doğru adrestesiniz. Toptan satış ile uygun fiyata et satın alabilirsiniz.</p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hizmet-bölümü sonu -->
<!-- hakkımızda-stil-iki -->
<section class="about-style-two">
    <div class="auto-container">
        <div class="row align-items-center clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_2">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            <span>Hakkımızda</span>
                            <h2>Firmamız Hakkında</h2>
                        </div>
                        <div class="text">
                            <p>Farket olarak, kalite ve güvenilirlik bizim ilk önceliğimizdir. Ürünlerimiz, en üst kalite standartlarına uygun olarak seçilir ve müşterilerimize sunulur. Toptan satış yapmamızın müşterilerimiz için çok büyük bir avantajı var. Her hafta ürünlerimizi büyük bir titizlik ile firmamıza getiriyoruz. Bu sayede müşterilerimiz her zaman taze et ürünlerine kolaylıkla ulaşabiliyor ve uygun fiyata et satın alabiliyor.</p>
                        </div>
                        <ul class="list clearfix">
                            <li>
                                <i class="flaticon-call-center-agent"></i>
                                %100 Helal Kesim
                            </li>
                            <li>
                                <i class="flaticon-return-of-investment"></i>
                                Taze ve Kaliteli
                            </li>
                            <li>
                                <i class="flaticon-call-center-agent"></i>
                                Toptan Satış Avantajı
                            </li>
                            <li>
                                <i class="flaticon-return-of-investment"></i>
                                Uygun Fiyat Garantisi
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_1">
                    <div class="image-box">
                        <figure class="image image-1"><img src="~/Carneshop/assets/images/resource/about-2.jpg" alt=""></figure>
                        <figure class="image image-2"><img src="~/Carneshop/assets/images/resource/about-3.jpg" alt=""></figure>
                        <figure class="image image-3"><img src="~/Carneshop/assets/images/resource/about-1.png" alt=""></figure>
                        <figure class="image image-4"><img src="~/Carneshop/assets/images/resource/about-2.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hakkımızda-stil-iki sonu -->
<!-- mağaza-bölümü -->
<section class="shop-section">
    <div class="auto-container">
        <div class="sec-title style-two text-center">
            <span>Tüm ürünleri gör</span>
            <h2>Öne Çıkan Ürünler</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/Carneshop/assets/images/resource/shop/shop-1.jpg" alt="">
                           
                        </figure>
                        <div class="lower-content">
                            <h6><a href="shop-details.html">Bütün Bonfile</a></h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/Carneshop/assets/images/resource/shop/shop-2.jpg" alt="">
                           
                        </figure>
                        <div class="lower-content">
                            <h6><a href="shop-details.html">Bütün Piliç</a></h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/Carneshop/assets/images/resource/shop/shop-3.jpg" alt="">
                          
                        </figure>
                        <div class="lower-content">
                            <h6><a href="shop-details.html">Kaburga Biftek</a></h6>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="~/Carneshop/assets/images/resource/shop/shop-4.jpg" alt="">
                        
                        </figure>
                        <div class="lower-content">
                            <h6><a href="shop-details.html">Chuck Roast</a></h6>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="more-btn centred">
            <a href="/Urunlerimiz/index" class="theme-btn">Tüm Ürünlerimiz</a>
        </div>
    </div>
</section>