
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}
<!--Page Title-->
<section class="page-title" style="background-image: url(/Carneshop/assets/images/background/page-title.jpg);">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h1>Hakkımızda</h1>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Anasayfa/index">Ana Sayfa</a></li>
                <li>Hakkımızda</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- hakkımızda-stil-iki -->
<section class="about-style-two">
    <div class="auto-container">
        <div class="row align-items-center clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div id="content_block_2">
                    <div class="content-box">
                        <div class="sec-title style-two">
                            <span>Hakkımızda</span>
                            <h2>Firmamız Hakkında</h2>
                        </div>
                        <div class="text">
                            <p>Farket Fabrika Et Satış olarak yılların deneyimi ile et sektöründe öncü bir konumdayız. Müşterilerimizin ihtiyaçlarını en iyi şekilde karşılamak için modern tesislerimizde hijyenik koşullarda çalışıyoruz. Hem perakende hem de toptan satış ile geniş bir müşteri kitlesine hizmet veriyoruz. Kaliteden ödün vermeden, en taze ürünleri kapınıza getiriyoruz.</p>
                        </div>
                        <ul class="list clearfix">
                            <li>
                                <i class="flaticon-call-center-agent"></i>
                                Yılların Deneyimi
                            </li>
                            <li>
                                <i class="flaticon-free-delivery"></i>
                                Modern Tesisler
                            </li>
                            <li>
                                <i class="flaticon-return-of-investment"></i>
                                Hijyenik Koşullar
                            </li>
                            <li>
                                <i class="flaticon-winner"></i>
                                Kapıya Kadar Hizmet
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div id="image_block_1">
                    <div class="image-box">
                        <figure class="image image-2"><img src="~/teslimat/arac.png" alt=""></figure>
                        <figure class="image image-1"><img src="~/teslimat/arac2.png" alt=""></figure>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- hakkımızda-stil-iki bitiş -->
<!-- hakkımızda-bölümü -->
<section class="about-section sec-pad">
    <div class="auto-container">
        <div class="inner-container mr-0 clearfix">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 video-column">
                    <div id="video_block_1">
                        <div class="video-inner" style="background-image: url(/teslimat/farket.png);">
                            @*                             <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&t=28s" class="lightbox-image video-btn" data-caption=""><i class="fas fa-play"></i></a>
 *@                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_1">
                        <div class="content-box">
                            <div class="sec-title">
                                <span>Hakkımızda</span>
                                <h2>Türkiye'nin En İyi Etini Sağlıyoruz!</h2>
                            </div>
                            <div class="text">
                                <p>Et sektöründeki tecrübemiz sayesinde müşterilerimizin beklentilerini en iyi şekilde anlıyoruz. Perakende ve toptan satış seçenekleriyle her türlü ihtiyaca cevap veriyoruz. Sağlıklı beslenmenin temelini oluşturan kaliteli et ürünlerini, modern soğuk zincir sistemiyle taze olarak ulaştırıyoruz. Farket ailesinin bir parçası olduğunuz için teşekkür ederiz.</p>
                            </div>
                            <ul class="list clearfix">
                                <li>Sağlıklı Beslenme</li>
                                <li>Soğuk Zincir Sistemi</li>
                            </ul>
                            <div class="btn-box">
                                <a href="/teslimat/index" class="theme-btn">Daha Fazla Göster<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>da-bölümü bitiş -->