
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NewLayout.cshtml";
}

<div class="boxed_wrapper ltr">

   
    <!--Page Title-->
    <section class="page-title" style="background-image: url(~/Carneshop/assets/images/background/page-title.jpg);">
        <div class="auto-container">
            <div class="content-box">
                <div class="title-box">
                    <h1>Elements</h1>
                </div>
                <ul class="bread-crumb clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Shop 01</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    <!-- shop-section -->
    <section class="shop-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                    <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="~/Carneshop/assets/images/resource/shop/shop-1.jpg" alt="">
                                <ul class="list clearfix">
                                    <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                    <li><a href="shop-details.html">add to cart</a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h6><a href="shop-details.html">Whole Tenderloin</a></h6>
                                <ul class="rating clearfix">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="price">$ 400.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                    <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="~/Carneshop/assets/images/resource/shop/shop-2.jpg" alt="">
                                <ul class="list clearfix">
                                    <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                    <li><a href="shop-details.html">add to cart</a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h6><a href="shop-details.html">Whole Fryer</a></h6>
                                <ul class="rating clearfix">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="price">$ 450.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                    <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="~/Carneshop/assets/images/resource/shop/shop-3.jpg" alt="">
                                <ul class="list clearfix">
                                    <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                    <li><a href="shop-details.html">add to cart</a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h6><a href="shop-details.html">Rib Steak</a></h6>
                                <ul class="rating clearfix">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="price">$ 500.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                    <div class="shop-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img src="~/Carneshop/assets/images/resource/shop/shop-4.jpg" alt="">
                                <ul class="list clearfix">
                                    <li><a href="shop-1.html"><i class="flaticon-cart"></i></a></li>
                                    <li><a href="shop-details.html">add to cart</a></li>
                                </ul>
                            </figure>
                            <div class="lower-content">
                                <h6><a href="shop-details.html">Chuck Roast</a></h6>
                                <ul class="rating clearfix">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                </ul>
                                <span class="price">$ 380.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shop-section end -->
    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section">
                    <div class="row clearfix">
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="index.html"><img src="~/Carneshop/assets/images/footer-logo.png" alt=""></a></figure>
                                <div class="text">
                                    <p>The probability of someone needing your services or wantinLorem ipsum dolor sit amet, consectetur adipisicing </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <ul class="info clearfix">
                                    <li>
                                        <i class="flaticon-phone"></i>
                                        <p>Call Us</p>
                                        <h5><a href="tel:8602729738">860 -272 -9738</a></h5>
                                    </li>
                                    <li>
                                        <i class="flaticon-maps-and-flags"></i>
                                        <p>Address</p>
                                        <h5>4249 Hart Street, Enfield</h5>
                                    </li>
                                </ul>
                                <ul class="social-links clearfix">
                                    <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget newsletter-widget">
                                <div class="widget-title">
                                    <h6>Newsletter</h6>
                                </div>
                                <div class="widget-content">
                                    <p>Stay Updated on all that’s new add noteworthy</p>
                                    <form action="contact.html" method="post" class="newsletter-form">
                                        <div class="form-group">
                                            <input type="email" name="email" placeholder="Email" required="">
                                            <button type="submit"><i class="flaticon-paper-plane-1"></i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left"><h5>&copy;2020 CopyRight <a href="index.html">Example</a>. All rights reserved.</h5></div>
                <ul class="footer-nav pull-right clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html">About</a></li>
                    <li><a href="index.html">Blog</a></li>
                    <li><a href="index.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->
    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>
</div>
